body
{
    
background-image: url("https://v.fastcdn.co/u/f8c127f9/39546511-0-shutterstock-5910353.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    
}

.container{
    width: 100%;
    height: auto;
}


.navbar{
    width: 100%;
    height: 70px;
    background-color: white;
    top: 0%;
    position: fixed;

}
.nav-logo{
    width: 14%;
    height:100%;
    margin-left: 180px;
}

.back-images{
    width: 100%;
    height: 100%;
}
.apply-main{

    background-color: transparent;
    width: 100%;
    height: 1200px;
    top: 10%;
    display: flex;
}
.text-apply{
    width: 40%;
    height: 25%;
    margin: 150px 200px;
}
.text-apply>h1{
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 50px;
}
.apply-box{
    width: 500px;
    height: 90%;
    margin: 0px 50px;
  

}
.fullimg{
    width: 100%;
    height: 100%;
}
.img-text{
    width: 350px;
    height: 90%;
    margin: 20px;
  margin-top: -245%;
  margin-left: 50px;
}
.input{
    width: 300px;
    height: 40px;
    border: 1px solid red;
    border-radius: 6px;
    margin: 10px;
    background-color: whitesmoke;
}
.h1-text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.img-text>p{
    width: 300px;
    margin: 10px;
    font-size: 12px;
}
.apply-btn{
    width: 300px;
    height: 40px;
    border: 1px solid rgb(238,44,60);
    background-color: rgb(238,44,60);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
.logos{
    width: 100%;
    height: 300px;
    background-color: white;
}
.inner-logos{
    width: 80%;
    height: 88%;
    margin: auto;
    display: flex;
}
.inner-logos>div{
    width: 40%;
    height: 70%;
    margin: 30px;

    
}
.logos-main{
    width: 50%;
    margin-left: 30px;
}
.logo-btn{
    margin-left: 18px;
    width: 80%;
    background-color: transparent;
    margin-top: 40px;
    border: 1px solid;
}
.logo-btn:hover{
    background-color: whitesmoke;
}
.about{
    width: 100%;
    height: 800px;
}
.white-t{
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.about>div
{
    width: 40%;
    height: 500px;
    margin: auto;
    margin-top: 50px;

}
.about>p{
    color: white;
    width: 70%;
    text-align: center;
    margin-left: 18%;
    margin-top: 50px;
}
.about>div>div{
    height: 40%;
    width: 90%;
    margin: 27px;
    display: flex;
}
.about>div>div>div{
    width: 40%;
    height: 90%;
    margin: 3%;
}
.about>div>div>div>img{
    width: 50%;
    height: 50%;
    margin-left: 50px;
}
.about>div>div>div>h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.about>div>div>div>p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.Partners-opp{
    width: 100%;
    height: 300px;
    background-color: white;
}
.Partners-opp>h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}
.Partners-opp>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin-left: 190px;
    margin-top: 150px;
}
.B-Asso{
    width: 100%;
    height: 300px;
    background-color: transparent;
}
.B-Asso>h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.ul{
    display:flex;
    width: 60%;
    margin: auto;
    margin-top: 80px;
}
.ul>ul>li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.startup-c{
    width: 100%;
    height: 400px;
    background-color: white;
}
.startup-c>h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}
.startup-c>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin-left: 190px;
    margin-top: 150px;
}
.startup-c>ul{
    margin-left: 190px;
    margin-top: 50px;
}
.t-c{
    width: 100%;
    height: 300px;
    background-color: transparent;
}
.t-c>h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.tc-btn{
    width: 17%;
    height: 15%;
    border-radius: 5px;
    border: 1px solid rgb(238,44,60);
    background-color: rgb(238,44,60);
    margin-left: 550px;
    margin-top: 20px;

}
.tc-btn>a{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.footer{
    width: 100%;
    background-color: rgb(30,30,30);
    height: 200px;
}
.imgdiv{
    width: 10%;
    height: 50px;
    margin-top: 50px;
    margin: auto;

}
.nav-img{
    width: 100%;
    height: 100%;
}
.line{
    width: 70%;
    margin: auto;
    border: 0.2px solid wheat;
    margin-top: 60px;
}
.white{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}