.web-container{
    height: auto;
    width: 100%;
}
.nav-logo{
    width: 25%;
    height: 60px;
    margin-left: 185px;
}
.nav-img{
    width: 100%;
    height: 100%;
}
.bck-img{
    width: 100%;
    height: 600px;
    position: relative;
}
.text-img{
    width: 35%;
    height: 100%;
    background-color: black;
    top: 0%;
    left: 13.5%;
    position: absolute;
    opacity: 0.7;
}
.inner-txt-img{
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 30%;
    font-size: 45px;
    color:white;
    opacity: 100;
    margin: 20px;
    margin-top: 100px;
    top: 7%;
    left: 15%;
    position: absolute;
    
}
.inner-btn-img{
    width: 10%;
    padding: 10px;
    border: 1px solid crimson;
    background-color: rgb(238,44,60);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin: 20px;
    margin-top: 100px;
    top: 49%;
    left: 15%;
    position: absolute;
    
}
.regAndw{
    width: 100%;
    height: 400px;
}
.inner-reg-div{
    width: 73%;
    height: 100%;
    margin: auto;
}
.black-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.reg-in{
    display: flex;
}
.reg-in >div{
    width: 26%;
    height: 205px;
    margin: auto;
    border-radius: 10px;
}
.reg-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.reg-btn{
    padding: 2% 27% ;
    height: 47px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 21px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 5px;
}
#btn2{
    margin-left: -15px;
}
.reg-btn:hover{
    background-color:#EE2C3C;
    color: white;
}
.img-cont{
    border: 3px solid green;
    height: 320px;
    width: 100%;
    position: relative;

}
.why
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
     font-size: 45px;
     position: absolute;
     color: white;
     top: 0%;
    left: 40%;
}
.why-cont{
    width: 80%;
    height: 210px;
    margin: auto;
    position: absolute;
    top: 32%;
    left: 9%;
    display: flex;
}
.why-cont >div{

    border:2px solid wheat;
    width: 30%;
    height: 80%;
    margin: 20px;
    border-radius: 10px;
   
}


.why-logos{
    width: 46%;
    height: 50%;
    margin-left: 27%;
    
    
}
.why-img-text{
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}
.effect{
    
    height: 320px;
    width: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.8 ;
    top: 0%;

}
.signup-box{
    width: 100%;
    height: 450px;
    margin-top: 50px;
}
.input{
   margin: auto;
   width: 23%;
}
.input >input{
    width: 90%;
    height: 40px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.sbt{
    width: 92%;
    height: 40px;
    margin: 10px;
    border: 1px solid #EE2C3C;
    border-radius: 3px;
    background-color: #EE2C3C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.footer{
    width: 100%;
    background-color: rgb(30,30,30);
    height: 200px;
}
.imgdiv{
    width: 10%;
    height: 50px;
    margin-top: 50px;
    margin: auto;

}
.line{
    width: 70%;
    margin: auto;
    border: 0.2px solid wheat;
    margin-top: 60px;
}
.white{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.A{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}